.work {
    background-color: #f7f7f7;
    width: 350px;
}
.picture {
    height: 200px;
    width: 100%;
    background-color: #eeeef5;
    cursor: pointer;
}
.aboutWork {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5px;
}
.aboutWork span {
    margin-bottom: 5px;
}
