.work {
    background-color: #f7f7f7;
    width: 350px;
}
.picture {
    height: 200px;
    width: 100%;
    background-color: #eeeef5;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.aboutWork {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 5px;
}
.aboutWork span {
    margin-bottom: 5px;
}
.work a {
    text-decoration: none;
    color: #fff;
    background-color: saddlebrown;
    padding: 10px 25px;
}
