.freelanceBlock {
    padding: 50px 0;
    background-color: #decc9c;
}
.container {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container button {
    font-size: 20px;
    cursor: pointer;
    width: 100px;
    margin-top: 20px;
}
